<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604885963745-dq5g6c40ebf3723jo8gui8i9q6iukafr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604885963745-dq5g6c40ebf3723jo8gui8i9q6iukafr</string>
	<key>API_KEY</key>
	<string>AIzaSyC7122mgP81IE6NJRz55W34S3--cxqHJqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>604885963745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dtnd</string>
	<key>PROJECT_ID</key>
	<string>dtnd-2c0d6</string>
	<key>STORAGE_BUCKET</key>
	<string>dtnd-2c0d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604885963745:ios:72f608511a5c36e690f8a0</string>
</dict>
</plist>